settingsRepository/
tasks/
port.lock
port
*.key
plugins/idea-multimarkdown/
plugins/PowerShell/lib/LanguageHost/
options/recentProjectDirectories.xml*
options/window.manager.xml
options/window.state.xml
options/statistics.*.xml
options/*.statistics.xml
options/dimensions.xml
options/options.xml
javascript/nodejs/
terminal/history/
options/recentProjectDirectories.xml*
options/*.statistics.xml
plugins/idea-multimarkdown/
options/recentProjectDirectories.xml*
options/*.statistics.xml
**/*.jar
**/*.dll
**/*.exe
**/*.so

