tasks/
port.lock
port
*.key
settingsRepository/
plugins/idea-multimarkdown/
plugins/PowerShell/lib/LanguageHost/
terminal/history/
options/recentProjectDirectories.xml*
options/window.manager.xml
options/window.state.xml
options/statistics.*.xml
options/*.statistics.xml
options/dimensions.xml
options/options.xml
javascript/nodejs/
**/*.jar
**/*.exe
**/*.dll
**/*.so
